*,
*:after,
*:before {
    box-sizing: border-box;
}

*:focus {
    outline: none; // remove outline from all focused elements
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // remove highlight color on Android
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    font-size: @font-size--medium;
    line-height: 1.5;
    font-family: @font;
    color: @color-black;
    background-color: @color-grey--20;
    height: 100%;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;

    @media ( min-width: @screen-sm ) {
        font-size: @font-size--base;
    }

    &.___background-grey {
        background-color: @color-grey--20;
    }
}

a {
    color: inherit;
}

button {
    display: block;
    padding: 0;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

img {
    display: block;
    max-width: 100%;
    border: none;
}

hr {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid @color-grey--20;
    margin: 0;
    padding: 0;
}

small {
    .font(small);
}

.relative {
    position: relative;
}

// Hides "Connected to BrowserSync"
#__bs_notify__ {
    display: none !important;
}
